<!-- Movie Item -->
<a
  href=""
  class="item block min-h-[325px] rounded-md bg-slate-700 border-2 border-slate-400 relative"
  *ngIf="itemData"
>
  <div
    class="absolute flex items-center px-3 border-0 rounded-md opacity-60 item-rating top-3 left-3 bg-slate-600"
  >
    <!-- Star -->
    <i class="mr-1 text-yellow-500 scale-75 app-icon">star</i>
    <span> {{ itemData.vote_average }} </span>/10
  </div>
  <div class="item-image">
    <img
      [src]="'https://image.tmdb.org/t/p/original/' + itemData.poster_path"
      class="object-cover w-full border-2 h-[275px]"
    />
  </div>
  <!-- Title -->
  <div class="flex items-center m-2 font-bold text-center item-title">
    {{ itemData.title }}
  </div>
</a>
