<header>
  <nav
    class="flex justify-between items-center p-4 h-[65px] bg-[#212121] border-b-[1px] border-[#424242]"
  >
    <a href="" class="block navbar-logo"
      ><img src="assets/images/logo.png" class="w-[60px]"
    /></a>
    <ul class="block p-0 m-0 list-none navbar-links">
      <li class="inline mr-[15px] text-white"><a href="">Home</a></li>
      <li class="inline mr-[15px] text-white"><a href="">Movies</a></li>
      <li class="inline mr-[15px] text-white"><a href="">Tv Shows</a></li>
      <li class="inline mr-[15px] text-white"><a href="">Genres</a></li>
    </ul>
  </nav>
</header>
