<header>
  <nav
    class="flex justify-between items-center p-4 h-[65px] bg-[#212121] border-b-[2px] border-[#424242]"
  >
    <a href="" class="block"
      ><img src="assets/images/logo.png" class="w-[60px]"
    /></a>
    <ul class="block p-0 m-0 list-none">
      <li
        class="inline mr-[15px] text-white hover:underline decoration-sky-300"
      >
        <a routerLink="/">Home</a>
      </li>
      <li
        class="inline mr-[15px] text-white hover:underline decoration-sky-300"
      >
        <a routerLink="/movies">Movies</a>
      </li>
      <li
        class="inline mr-[15px] text-white hover:underline decoration-sky-300"
      >
        <a routerLink="/tvshows">TV Shows</a>
      </li>
      <li
        class="inline mr-[15px] text-white hover:underline decoration-sky-300"
      >
        <a routerLink="/genres">Genres</a>
      </li>
    </ul>
  </nav>
</header>
