<div class="text-white slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://image.tmdb.org/t/p/original/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg"
        alt=""
      />
    </div>
    <div class="slider-pane">
      <h2 class="name">The Addams Family</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>stars</span>
            <span class="rating-value">7.5</span>
            <span>/10</span>
            <span>463 review</span>
            <span>2021</span>
          </span>
        </div>
      </div>
      <div class="description">
        Nearly 5,000 years after he was bestowed with the almighty powers of the
        Egyptian gods—and imprisoned just as quickly—Black Adam is freed from
        his earthly tomb, ready to unleash his unique form of justice on the
        modern world."
      </div>
    </div>
  </div>
</div>
