<!-- Movie Item -->
<a
  href=""
  class="movie-item block min-h-[300px] rounded-md bg-slate-700 border-2 border-slate-400 relative"
>
  <div
    class="absolute flex items-center px-3 border-0 rounded-md opacity-60 movie-item-rating top-3 left-3 bg-slate-600"
  >
    <!-- Star -->
    <i class="mr-1 text-yellow-500 scale-75 app-icon">star</i>
    <span>7</span>/10
  </div>
  <div class="movie-item-image">
    <img
      src="https://image.tmdb.org/t/p/original/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg"
      class="object-cover w-full border-2 h-[275px]"
    />
  </div>
  <!-- Title -->
  <div class="m-2 font-bold movie-item-title">The Vault</div>
</a>
