<div class="container p-2 m-auto">
  <h2 class="text-white">Trending Movies</h2>
  <div
    class="grid grid-cols-1 gap-6 text-white md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
  >
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
    <div class=""><app-movie-item></app-movie-item></div>
  </div>
</div>
