<ng-container *ngIf="movie">
  <app-slider [items]="[movie]" [isBanner]="true"></app-slider>
  <!-- Tabs -->
  <div class="tabs">
    <!-- Overview -->
    <div class="flex justify-center">
      <!-- Poster -->
      <div class="flex">
        <img [src]="imagesSizes.medium + movie.poster_path" class="w-max" />
      </div>
      <!-- Overview Details -->
      <div class="">
        <h2 class="">Overview</h2>
        <p class="">{{ movie.overview }}</p>
        <!-- Release -->
        <div class="flex">
          <div class="w-[100px] font-bold">Release Date:</div>
          <div class="text-yellow-500">
            {{ movie.release_date | date : "mediumDate" }}
          </div>
        </div>
        <!-- Language -->
        <div class="flex">
          <div class="w-[100px] font-bold">Language:</div>
          <div class="text-yellow-500">
            {{ movie.original_language | uppercase }}
          </div>
        </div>
        <!-- Revenue -->
        <div class="flex">
          <div class="w-[100px] font-bold">Revenue:</div>
          <div class="text-yellow-500">
            {{ movie.revenue | currency : "USD" : "symbol" : "1.2-2" }}
          </div>
        </div>
        <!-- Runtime -->
        <div class="flex">
          <div class="w-[100px] font-bold">Runtime:</div>
          <div class="text-yellow-500">{{ movie.runtime }} minutes</div>
        </div>
        <!-- Genre(s) -->
        <div class="flex">
          <div class="w-[100px] font-bold">Genres:</div>
          <div class="text-yellow-500 value">
            <span *ngFor="let genre of movie.genres">
              {{ genre.name }}
              <span
                *ngIf="
                  movie.genres.length > 1 &&
                  genre !== movie.genres[movie.genres.length - 1]
                "
                >,</span
              >
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Videos -->
    <div
      class="grid grid-cols-1 gap-4 px-6 m-auto md:grid-cols-3 lg:grid-cols-4 xl:grid-rows-6"
    >
      <ng-container *ngFor="let movieVideo of movieVideos" class="">
        <app-video-embed
          [key]="movieVideo.key"
          [site]="movieVideo.site"
        ></app-video-embed>
      </ng-container>
    </div>
    <!-- Images -->
    <div
      class="grid grid-cols-1 gap-3 mx-auto md:grid-cols-2 lg:grid-cols-3 photos"
    >
      <ng-container *ngFor="let movieImage of movieImages?.backdrops">
        <img
          [src]="imagesSizes.medium + movieImage.file_path"
          class="w-full h-full transition duration-500 ease-in-out cursor-pointer hover:scale-110"
        />
      </ng-container>
    </div>
  </div>
</ng-container>
